p {
	font-size:17px;
	color:rgb(70,70,70);
		}

a:link{color:lightblue;}
a:visited{color:violet;}

img {
	width: 80%;
		}

body {
	background-image: url(img/crossword.png);
	font-family:Roboto, sans-serif;
	background-color:#F2F2F2;
	border: 0px;
	padding: 0px;
	margin: 0px;
	width:100%;
		}

/*HEADER*/

header{
	background-color: #FFFFFF;
	width: 100%;
	height: 50px;
		}

.navbar-box{
	width: 94%;
	padding-left: 6%
		}

.navbar-brand{
	text-align: center;
	float: left;
	width:50px;
	padding: 15px;
	font-size: 18px;
	color: #000000;
	line-height: 20px;
	background-color: #FFFFFF;
		}

.navbar-brand:hover{
	font-variant: bold;
	color:#FFFFFF;
	background-color: #000000;
		}
		
/*----------*/

/*CAJA DE TÍTULO*/
.topbox{
	background-color: #000000;
	width:100%;
	height: 700px;
		}

.topbox h1{
	font-family: Roboto, sans-serif;
	font-size: 80px;
	text-align: center;
	margin: 0px;
	color: #FFFFFF;
	padding-top: 300px;
			}
/*-----------*/

/*CAJA CENTRAL*/

.cbox{
	padding:5%;
	width:80%;
		}
.cbox img{
	width: 600px;
		}

/*-----------*/

/*CAJA INZQUIERDA Y DERECHA*/

.box{
	width: 40%;
	padding: 5%;
		}

.panel{
	background-color: rgba(255,255,255,0.9);
	border-radius: 1%;

		}

.right{float: right;}
.left{float: left;}
/*------------*/

/*-------IPHONE--------*/
@media screen and (max-width: 568px){

/*header*/
header{
	background-color: #FFFFFF;
	width: 100%;
	height: 100px;
		}

.navbar-box{
	width: 94%;
	padding-left: 6%
		}

.navbar-brand{
	text-align: center;
	float: left;
	width:50px;
	padding: 15px;
	font-size: 18px;
	color: #000000;
	line-height: 20px;
	background-color: #FFFFFF;
		}

.navbar-brand:hover{
	font-variant: bold;
	color:#FFFFFF;
	background-color: #000000;
		}
/*------------------*/






}















